/* Reset styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
/* Reset styles end */

:root {
  --gutter: 1rem;
  --fs-12: 0.75rem;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;

  --main-dark: #1a1a1a;
}

body {
  font-family: Inter;
  min-height: 100vh;
  background-color: #f1f1f1;
}

/* Utils styles start */
.btn {
  background-color: #303030;
  /* color: #fff; */
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  min-width: 2rem;
  height: 2rem;
  font-family: Inter;
}

.btn.transparent {
  background-color: transparent;
}

.btn.dark {
  box-shadow: 0 0 0 1.5 #333333;
  box-shadow: 0 1 0 1.5 #333333;
  box-shadow: 0 2 0 0 #000000;
  background: linear-gradient(0deg, #404040, #404040);
  border-width: 1.5px, 1.5px, 0, 1.5;
  border-style: solid;
  border-color: #ffffff33;
  color: #f6f3f6;
  font-weight: 600;
  padding: 6px 0.75rem;
}

.btn.text {
  background-color: transparent;
  font-weight: 600;
}
.btn:focus {
  box-shadow: 0 0 0 3px #005bd3;
  border: 1px solid #0000001a;
}
/* Utils styles end */

/* Header styles start */
.main-header {
  height: 56px;
  background-color: #000;
  padding-inline: var(--gutter);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.logo-desktop {
  display: none;
}

.search {
  background-color: #303030;
  height: 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  max-width: 30rem;
  border: 1px solid #616161;
  transition: border 0.25s;
}

.search:hover {
  border: 1px solid #e1e1e1;
}

.search:focus-within {
  border: 2px solid #ffffff;
  transition: all 0.35s;
}

.search svg {
  margin-inline: 11.5px 9.5px;
}

.search input {
  background-color: transparent;
  border: none;
  outline: none;
  flex-grow: 1;
  padding-inline-end: 11.5px;
}

.search input:focus {
  box-shadow: none;
}

.search input,
::placeholder {
  color: #b5b5b5;
  font-weight: 500;
  font-size: var(--fs-13);
}

.button-group {
  display: flex;
}

.ntfn-btn {
  margin-inline-end: 0.5rem;
  transition: background 0.25s;
}

.ntfn-btn:hover {
  background: #616161;
}

.ntfn-btn:active {
  background: #656266;
}

.ntfn-btn:focus,
.dropdown-btn:focus {
  box-shadow: 0 0 0 3px #005bd3;
}

.dropdown-btn {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
}

.tag {
  display: none;
}

.user-initials {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  background-color: #36fba1;
  font-size: var(--fs-12);
  font-weight: 500;
  color: #00000066;
  flex-shrink: 0;
}
/* Header styles end */

.main {
  max-width: 50rem;
  margin: auto;
}

/* Alert box start */
.callout {
  margin-block: 28px 16px;
  background-color: var(--main-dark);
  padding: 12px var(--gutter);
  color: #e3e3e3;
  font-size: var(--fs-13);
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.callout.hide {
  visibility: hidden;
  height: 0;
  margin-block: 0;
}

.callout .content {
  flex-grow: 1;
}

.callout .content .message {
  margin-block-end: 16px;
}

.callout .content a.btn {
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  border-radius: 6px;
  font-size: var(--fs-12);
  font-weight: 600;
  padding: 6px 12px;
  height: 28px;
  color: #323232;
  display: inline-block;
  border: 1px solid #0000001a;
  box-shadow: 0 -1px 0 0 #b5b5b5 inset;
  transition: background 0.25s;
}

.callout .content a.btn:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(0deg, #f7f7f7, #f7f7f7);
}
.callout .content a.btn:active {
  background: #f7f7f7;
  box-shadow: 0 2px 1.5px 0 #e2e2e2 inset;
}
/* Alert box end */

/* Setup guide */
.guide {
  box-shadow: 0 1px 0 0 #0000000d;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}

.guide .heading {
  display: flex;
  color: #303030;
  font-weight: 400;
  padding: var(--gutter) calc(var(--gutter) / 2) var(--gutter) var(--gutter);
}

.guide .heading h1 {
  font-size: var(--fs-14);
  font-weight: 600;
  margin-block-end: 4px;
}

.guide .heading p {
  font-size: var(--fs-13);
  margin-block-end: 16px;
}

.guide .heading .progress-counter {
  font-size: var(--fs-12);
  margin-inline-end: 0.5rem;
}

.guide .progress-bar {
  display: flex;
  align-items: center;
}

.guide progress {
  width: 4.5rem;
  height: 4px;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 28px;
}

.guide progress::-webkit-progress-bar {
  border-radius: 28px;
  background-color: #e3e3e3;
}

.guide progress::-webkit-progress-value {
  border-radius: 28px;
  background-color: #1a1a1a;
}

/* Accordion */
.accordion-ctr {
  padding-inline: calc(var(--gutter) / 2);
  padding-block-end: 0.5rem;
  display: none;
}

.accordion-ctr.active {
  display: block;
}

.toggle-guide.active svg {
  transform: rotate(180deg);
  transition: all 0.35s;
}

.accordion .panel {
  display: flex;
  gap: 0.5rem;
  padding: calc(var(--gutter) / 2);
  cursor: pointer;
  margin-block-end: 0.5rem;
}

.accordion .panel.active {
  background: #f3f3f3;
  border-radius: 10px;
  margin-block-end: 0.5rem;
}

.accordion .panel h2 {
  color: #303030;
  font-size: var(--fs-13);
  font-weight: 600;
  margin-block-start: 1.5px;
}

.accordion .panel .content {
  display: none;
}

.accordion .panel .content img {
  display: none;
}

.accordion .panel .content.active {
  display: flex;
  align-items: center;
}

.accordion .panel .content p {
  font-size: var(--fs-13);
  color: #616161;
  font-weight: 500;
  margin-block: 1rem;
  max-width: 30.25rem;
}

.accordion .panel .content p a {
  color: #005bd3;
  text-decoration: none;
}

/* Dropdown menu start */
.dropdown-panel {
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 8px 0px #0000000d;
  max-width: 20rem;
  border-radius: 14px;
  padding-block: 6px;
}

.dropdown-panel menu {
  list-style: none;
}

.dropdown-panel li:not(:last-of-type) {
  margin-block-end: 4px;
}

.dropdown-panel .tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 19.25rem;
  margin: auto;
  background: #f1f1f1;
  padding: 4px 0.75rem 4px 0.5rem;
}

.dropdown-panel .tag svg {
  margin-inline-start: auto;
}

.dropdown-panel .tag .initials {
  width: 1.75rem;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5.25px;
  background-color: #36fba1;
  font-size: 10.5px;
  font-weight: 500;
  color: #00000066;
  flex-shrink: 0;
}

.dropdown-panel .tag .username {
  color: #303030;
  font-weight: 600;
  font-size: var(--fs-13);
}

.dropdown-panel .all-stores a {
  padding: 7px 9px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropdown-panel a {
  display: block;
  padding-block: 6px;
  padding-inline: 6px;
}

.dropdown-panel a:hover,
.dropdown-panel a:focus {
  background: #f1f1f1;
  border-radius: 8px;
  transition: all 0.25s;
}

.dropdown-panel a,
.dropdown-panel div {
  font-size: var(--fs-13);
  color: #303030;
  font-weight: 400;
  cursor: default;
}

.dropdown-panel .main {
  margin-block: 4px;
  border-block: 0.75px solid #e1e1e1;
  padding-block-end: 4px;
}

.dropdown-panel .main li,
.dropdown-panel .footer li {
  padding-inline: 6px;
}

.dropdown-panel .footer {
  padding-block-start: 4px;
}

.dropdown-panel .footer li:first-of-type {
  padding-block: 8px;
}

.dropdown-panel .footer li:first-of-type div {
  padding-inline: 6px;
}

.dropdown-panel .footer .name {
  font-weight: 500;
}

.dropdown-panel .footer .email {
  color: #616161;
  font-size: var(--fs-12);
}
/* Dropdown menu end */

/* Alerts list start */
.alerts-list {
  padding: 1rem;
  box-shadow: 0px 4px 8px 0px #0000000d;
  border: 1px solid #dbdbdb;
  max-width: 24rem;
  border-radius: 14px;
}

.alerts-list .heading {
  margin-block-end: 1rem;
  display: flex;
  align-items: center;
}

.alerts-list h2 {
  color: #303030;
  font-weight: 600;
  font-size: var(--fs-14);
}

.alerts-list .actions {
  margin-inline-start: auto;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.alerts-list .alert {
  background: #f1f1f1;
  padding: 1rem;
  color: #616161;
  font-size: var(--fs-13);
  font-weight: 600;
}
/* Alerts list end */

/* Media queries start */
@media screen and (min-width: 815px) {
  .logo-mobile {
    display: none;
  }

  .logo-desktop {
    display: inline;
  }

  .dropdown-btn {
    background: #303030;
  }

  .dropdown-btn:focus {
    box-shadow: 0 0 0 3px #005bd3;
  }

  .tag {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding-inline: 0.5rem;
    color: #e3e3e3;
    font-weight: 500;
    font-size: var(--fs-12);
  }

  .user-initials {
    width: 1.75rem;
    height: 28px;
  }

  .callout {
    border-radius: 8px;
  }

  .callout.hide {
    height: auto;
    margin-block: 28px 16px;
  }

  .callout .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .callout .content .message {
    margin-block-end: 0;
  }

  .guide {
    border-radius: 18px;
  }

  .accordion .panel .content img {
    display: inline-block;
    margin-inline-start: auto;
  }
}
